@media (max-width: 1660px) {
    .menu {
        width: 90%;
    }
}

@media (max-width: 1460px) {
    .greyDiv {
        height: 70%;
    }
    .tablet {
        width: 48%;
    }
    .nav {
        width: 60%;
    }
    .menu {
        font-size: 20px;
    }
}

@media (max-width: 1340px) {}